rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
        
    // True if the user is authenticated
    function isSignedIn() {
      return request.auth != null;
    }

    // Users:
    //   - Authenticated user can read
    //   - Authenticated user can write (create, update and delete) if userId matches
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
                   && request.auth.uid == userId;
    }

    // Notes:
    //   - Authenticated user can read
    //	 - Authenticated user can write (create, update and delete) if userId matches
    match /notes/{noteId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn()
                    && request.auth.uid == request.resource.data.userId;
      allow update, delete: if isSignedIn()
                            && request.auth.uid == resource.data.userId;
    }
    
  }
}
