rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users:
    //   - Authenticated user can read
    //   - Authenticated user can create and update if userId matches
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
                            && request.auth.uid == userId;
    }

    // Notes:
    //   - Authenticated user can read
    //   - Authenticated user can write (create, update and delete) if userId matches
    match /notes/{noteId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                   && request.auth.uid == request.resource.data.userId;
    }
    
  }
}
