<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787552385461-bkl07ddvad16kpr96vkmc4e8vl9jj9kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787552385461-bkl07ddvad16kpr96vkmc4e8vl9jj9kv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787552385461-unrffto1s4r79293qomcag80f3km03fv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBd2vg3-U-w-keue8E-1FQL4qI69l93qB4</string>
	<key>GCM_SENDER_ID</key>
	<string>787552385461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fermod.flutterNotes</string>
	<key>PROJECT_ID</key>
	<string>notesproject-ab12c</string>
	<key>STORAGE_BUCKET</key>
	<string>notesproject-ab12c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787552385461:ios:1ec75293fb95a9446501fc</string>
	<key>DATABASE_URL</key>
	<string>https://notesproject-ab12c.firebaseio.com</string>
</dict>
</plist>